.select-section {
  width: 100%;
  display: flex;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  // background: #2c3e50;
  // background: $color_gray_fade;
  background: transparent;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: inline-flex;
  margin: auto;
  width: 17em;
  height: 3em;
  line-height: 3;
  // background: #2c3e50;
  background: $color_gray_fade;

  overflow: hidden;
  border-radius: 0.25em;
}
select {
  font-size: inherit;
  margin-left: 5px;
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  // background: #34495e;
  background: $color_gray_fade;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
/* Transition */
.select:hover::after {
  color: $color_pink;
}
